Text.IDNA.toASCII doesn't split text into labels prior to conversion

@Porges I'm willing to prepare a PR to add a function that covers this (with tests to cover it), if it fits your design intent and you are willing to review it at some point.

Running this results in `Nothing` (this surprises me as `tūdaliņ.com` is a valid IDN):
```haskell
toASCII False True "tūdaliņ.com"
```
The result I expect is `Just "xn--tdali-d8a8w.com"`

I realize on closer reading that this library intends to implement ToASCII from RFC 3490 in isolation. I am concerned that places a lot of burden on client code to know and implement details of RFC 3490.

In particular it must be used with a front-end that knows to split on U+002E (full stop), U+3002 (ideographic full stop), U+FF0E (fullwidth full stop), U+FF61 (halfwidth ideographic full stop), call Data.IDNA.toASCII on each item, and concatenate the results with U+002E (full stop).

This fits that bill:
```haskell
domainToASCII :: Bool -> Bool -> Text -> Maybe Text
domainToASCII allowUnassigned useSTD3ASCIIRules hostname =
    foldl mappend (Just "") (intersperse (Just ".") aceLabels)
    where
      aceLabels = map (toASCII allowUnassigned useSTD3ASCIIRules) labels
      labels = Text.split isLabelSeparator hostname
      isLabelSeparator = (`elem` ['\x002e', '\x3002', '\xff0e', '\xff61'])
```

Is this expected to be in client code or another package? It seems like a good fit for an IDNA package like this to have a function that converts full domain names containing Unicode to ASCII.

I'm willing to put together a PR if you agree.

Hi Alain, this makes sense if you'd like to make a contribution. 👍 

Something else to be aware of if you're looking to use this in the Real World is that this package is based on [RFC3490](https://tools.ietf.org/html/rfc3490). This version is now called IDNA2003 and has been obsoleted by IDNA2008 which is specified by [RFC5890](https://tools.ietf.org/html/rfc5890), [RFC5891](https://tools.ietf.org/html/rfc5891), [RFC5892](https://tools.ietf.org/html/rfc5892), [RFC5893](https://tools.ietf.org/html/rfc5893), and [RFC5894](https://tools.ietf.org/html/rfc5894). I'm not sure if there's a Haskell implementation of IDNA2008 yet.

@Porges thank you. I will put together a PR. I’m going to investigate IDNA2008 as well! Good to know.